.todo-task {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid $light-grayish-blue;
    font-size: 0.9rem;
    padding: 0.75rem 0;

    @include mq(medium) {
        width: 500px;
        margin: 0 auto;
    }

    &:first-of-type {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    &:last-of-type {
        border-radius: 0 0 0.5rem 0.5rem;
        border-bottom: none;
    }

    &--figure {
        position: absolute;
        left: 1rem;
        top: 0.65rem;
        width: 20px;
        height: 20px;
        border: thin solid $dark-grayish-blue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--text {
        flex: 1;
        margin-left: 3rem;
        color: $very-dark-grayish-blue;
        font-size: 0.8rem;
        font-weight: 500;
    }
    &--textCompleted {
        flex: 1;
        margin-left: 3rem;
        color: $very-dark-grayish-blue;
        font-size: 0.8rem;
        font-weight: 500;
        text-decoration: line-through;
        color: $dark-grayish-blue;
    }

    &--button {
        border: 0;
        outline: none;
        background-color: transparent;
        padding-right: 1rem;
        cursor: pointer;
    }

    &--close {
        width: 15px;
        height: 15px;
    }

    &--total {
        display: flex;
        justify-content: space-between;
        margin: 0 1.5rem;
        padding: 1rem;
        color: $dark-grayish-blue;

        @include mq(medium) {
            width: 500px;
            margin: auto;
        }
    }

    &--clearCompleted {
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        color: $dark-grayish-blue;
        font-family: $font-josefin-sans;
        cursor: pointer;
    }

    &--clearCompleted.desktop {
        padding: 0 0.5rem;

        &:hover {
            color: $bright-blue;
        }
    }
}
