.todo-input {
    position: relative;

    input {
        width: 100%;
        padding: 1rem;
        padding-left: 3rem;
        border: none;
        border-radius: 0.5rem;
        position: relative;
        outline: none;
    }

    input::placeholder {
        font-family: $font-josefin-sans;
        color: $dark-grayish-blue;
    }

    &--circle {
        position: absolute;
        left: 1rem;
        top: 0.8rem;
        width: 20px;
        height: 20px;
        border: thin solid $dark-grayish-blue;
        border-radius: 50%;
        z-index: 20;
    }
}
