*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    box-sizing: inherit;
}

body {
    font-family: $font-josefin-sans;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: $very-light-grayish-blue;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
    margin: 0;
}
